.pad-zero {
  padding: 0px;
}

.marg-tp-head {
  margin-top: 3%;
}

.card-head {
  padding: 10px;
  background-color: #efefef;
}

.card-body {
  padding: 20px 0px;
  
}

.mat-card-title {
  font-size: 18px;

}

.inline-blk {
  display: inline-block !important;
  width: 50% !important;
  align-items: center;
  justify-content: center;
}


.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}
